@model Mars_Store.Models.Entities.SPGIAMGIA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h3>BẠN CHẮC CHẮN MUỐN XÓA ?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           TÊN SẢN PHẨM
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.tensanpham)
        </dd>

        <dt>
           SỐ LƯỢNG
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
          GIÁ KHUYẾN MẠI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giaht)
        </dd>

        <dt>
          NGÀY BÁN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayban)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> |
            @Html.ActionLink("QUAY LẠI", "Index")
        </div>
    }
</div>
